#slider {
  width: 255px;
}

#color {
  font-family: monospace;
  color: white;
  width: 255px;
  padding: 0.5em;
}

#colorPicker {
  position: absolute;
  top: 0;
  left: 0;
}

#canvasContainer {
  position: relative;
}